@import '../../../config/colors.scss';

.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;

    h1 {
        color: $whitecolor;
        font-size: 6vh;
        text-align: center;
    }
}

.contact-message {
    margin: 0 auto;
    padding-top: 10px;
    
    h2 {
        text-align: center;
        color: $whitecolor;
    }

}

.contrast {
    color: $contrastcolor;
}


  
  