@import '../../../config/colors.scss';

.main-skills {
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 0px;
}

.main-skills h1 {
    color: $whitecolor;
    font-size: 6vh;
}

.main-skills p {
    letter-spacing: 0.2em;
    line-height: 1.5em;
    color: $whitecolor;
    font-size: 2vh;
}

.amp {
    color: $contrastcolor;
}

.skill {
    font-size: 1.9vh;
    color: $whitecolor;
    letter-spacing: 3px;
    display: block;
    float: left;
    margin: 0;
    padding: 20px;
}

.underlined {
    background-image: linear-gradient(to right, $contrastcolor  0, $contrastcolor 100%);
    background-size: 0 100%;
    
    &:hover {
        color: $whitecolor;
        background-size: 100% 100%;
        font-weight: bold;
    }
}

.underlined:nth-child(odd) {
    color: $contrastcolor;
    background-image: linear-gradient(to right, $whitecolor  0, $whitecolor 100%);

    &:hover {
        color: $contrastcolor;
    }
}

@keyframes moveAcross {
    0% {
      background-size: 0 100%;
    }
    99% {
      background-size: 100% 100%;
    }
    100% {
        background-size: 100% -0.1em;
    }
}

@media (min-width: 769px) {
    .underlined {
        background-repeat: no-repeat;
        animation: moveAcross .5s;
    }

    // 100 loop iterations
    @for $i from 1 through 100 { 
        .underlined:nth-child(#{$i}) {
            animation-delay: #{$i/2}s;
        }
    }

}

@media (max-width: 769px) {
    .skill {
        padding: 10px;
    }
}