$primarycolor: #364f6b;
$secondarycolor: #3fc1c9;
$backgroundcolor: #f2f2f2;
$headertextcolor: #516e8b;
$contrastcolor: #fc5185;
$textcolor: #8d8b8e;
$whitecolor: #f1f1f1;
$blackcolor: #595957;
$greencolor: #51fca5;