@import '../../config/colors.scss';

.timeline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    position: relative;
}
.timeline-container::after {
    background-color: $contrastcolor;
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    width: 3px;
    height: 100%;
}

@media (max-width: 769px) {
    .timeline-container {
        margin: 0;
    }

    .timeline-container::after {
        left: 10%;
    }
}