.fill {
  height: 100vh;
}

@media (min-width: 769px) {
  .none-display-big-screen {
    display: none;
  }
  .padding-top-on-big-screen {
    padding-top: 60px;
  }
}

@media (max-width: 769px) {
  .hide-on-mobile {
    display: none;
  }
}