@import './config//colors.scss';

body {
  height: 100%;
  background-color: $primarycolor;
  margin: 0;
  font-family: 'Manjari';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #app, #app>div, #root {
  height: 100vh;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-1000%);
    transform: translateX(-1000%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-1000%);
    transform: translateX(-1000%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(1000%);
    transform: translateX(1000%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(1000%);
    transform: translateX(1000%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(1000%);
    transform: translateX(1000%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(1000%);
    transform: translateX(1000%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}